/*
$background-color: #f2f2f2;
$text-color: #333;

$primary-color: #f6582c;
$secondary-color: #f3f3f3;
$tertiary-color: #fbc15ec4;
$black-color: #000;
$black-transparency-color: #000000b3;
$white-gray: #f3f3f3;
$light-gray: #d3d3d3;
$gray: #919191;
$dark-gray: #565656;
*/




#navbar {
    background-image: url("/src/img/background-start.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;

    header {
        background-color: $black-transparency-color;
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0;

        nav {
            max-width: 1100px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;

            h1 {
                text-align: center;
                color: $primary-color;
            }

            .languages {
                &>* {
                    @include language-common-styles;
                }

                .es {
                    color: $primary-color;
                }

                .check {
                    position: relative;
                    width: 50px;

                    &::before,
                    &::after {
                        @include language-check-common-styles;
                    }

                    &::before {
                        width: 50px;
                        background: $primary-color;
                    }

                    &::after {
                        width: 25px;
                        background: $secondary-color;
                        transition: 0.25s;
                        border: 2px solid $primary-color;
                        box-sizing: border-box;
                    }

                    &:checked::before {
                        background-color: $secondary-color;
                    }

                    &:checked::after {
                        left: 25px;
                        background-color: $primary-color;
                        border: 2px solid $secondary-color;
                    }
                }

                .mode {
                    position: relative;
                    color: $secondary-color;
                    width: 50px;
                    margin-left: 20px;
                }
            }

            ul {
                list-style: none;
                display: flex;
                align-items: center;
                gap: 20px;

                li {
                    .selected {
                        color: $primary-color;
                        font-weight: $font-weight-base;
                    }

                    a {
                        text-decoration: none;
                        color: $secondary-color;
                        font-size: $font-size-small-base;
                        font-weight: $font-weight-base;
                        transition: .5s;

                        &:hover {
                            color: $primary-color;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        #icon-nav {
            color: $secondary-color;
            display: none;
        }

        .networks {
            a {
                text-decoration: none;
                display: inline-block;
                color: $secondary-color;
                margin-left: 10px;
                transition: .5s;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}